
<html>
	<head>
		<title>Daily10</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>Daily10-</strong> the only site you'll ever need!</a>
									<ul class="icons">

										<li><a href="https://www.instagram.com/visha_l_kuma_r_/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Contact Us<br />
											</h1>
										</header>
									    <p>We’d love to hear from you! Whether you have a question, feedback, or just want to say hello, we’re here to help.</p>
										<h2 id="content">Get in touch</h2>
										<p><strong>Email:</strong>  ishalkumar@gmail.com</p>

										<hr class="major" />
										<h3>Contact Form</h3>

											<form action="https://api.web3forms.com/submit" method="POST">
												<input type="hidden" name="access_key" value="760b8d7a-ca65-4c6d-9659-9011bacb0e0f">
												<div class="row gtr-uniform">
													<div class="col-6 col-12-xsmall">
														<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
													</div>
													<div class="col-6 col-12-xsmall">
														<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
													</div>
													<!-- Break -->
													<div class="col-12">
														<select name="demo-category" id="demo-category">
															<option value="">- Category -</option>
															<option value="1">Feedback</option>
															<option value="1">Complaint</option>
														</select>
													</div>
													<!-- Break -->

													<!-- Break -->

													<!-- Break -->
													<div class="col-12">
														<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
													</div>
													<!-- Break -->
													<div class="col-12">
														<ul class="actions">
															<li><input type="submit" value="Send Message" class="primary" /></li>
															<li><input type="reset" value="Reset" /></li>
														</ul>
													</div>
												</div>
											</form>


									</div>
								</section>

							<!-- Section -->
							<footer id="footer">
								<p class="copyright">&copy; Daily10. All rights reserved to vishal kumar.</p>
							</footer>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/">Top News</a></li>
										<li><a href="/contact_us">Contact Us</a></li>
										<li><a href="/about_us">About Us</a></li>
                                    </ul>



								</nav>

							<!-- Section -->


							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; daily10. All rights reserved.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>